.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("") no-repeat center center/cover;
  }
  
  .auth-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }
  
  h2 {
    margin-bottom: 1rem;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .loginbutton {
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    background: #45a049;
  }
  
  .switch-auth {
    margin-top: 15px;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  