/* General Page Styling */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fcfeff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  /* Container */
  .container {
    width: 90%;
    max-width: 1000px;
    background: rgb(11, 8, 8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Title */
  h1 {
    font-size: 28px;
    font-weight: 600;
    color: #0c0c0c;
    margin-bottom: 20px;
  }
  
  /* Search Bar */
  .search-bar {
    width: 100%;
    max-width: 350px;
    padding: 12px;
    border: 2px solid #070707;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    text-align: center;
  }
  
  .search-bar:focus {
    border-color: #090909;
    box-shadow: 0px 0px 8px rgba(5, 5, 5, 0.5);
  }
  
  /* Dropdown */
  select {
    padding: 12px;
    border: 2px solid #131414;
    border-radius: 25px;
    font-size: 16px;
    background-color: rgb(63, 41, 41);
    cursor: pointer;
    outline: none;
    transition: 0.3s;
  }
  
  
  /* Table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgb(218, 217, 217);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Table Header */
  th {
    background-color: #101011;
    color: white;
    padding: 14px;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
  }
  
  /* Table Rows */
  td {
    padding: 12px;
    border-bottom: 1px solid #0d0c0c;
    font-size: 15px;
  }
  
  /* Hover Effect */
  tr:hover {
    background-color: #f1f1f1;
    transition: 0.3s;
  }
  
  /* Delete Button */
  button {
    background-color: #e73925;
    color: white;
    border: none;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 8px rgba(231, 76, 60, 0.2);
  }
  
  button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
  }
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: left;
    height: 100px; /* Adjust height */
  }
  
  .loading-gif {
    width: 400px; /* Adjust size */
    height: 400px;
  }
  